{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain one or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 */
#}
{%
  set body_classes = [
    logged_in ? 'user-logged-in',
    not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
    node_type ? 'page-node-type-' ~ node_type|clean_class,
    db_offline ? 'db-offline',
  ]
%}
<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Hapwal">
    <link rel="icon" type="image/png" href="/themes/godlike/images/favicon.png">
    <head-placeholder token="{{ placeholder_token }}">
    <title>{{ head_title|safe_join(' | ') }}</title>

      <!-- START: Styles -->

      <!-- Google Fonts -->
      <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300i,400,400i,700%7cMarcellus+SC" rel="stylesheet">

      <!-- Bootstrap -->
      <link rel="stylesheet" href="/themes/godlike/vendor/bootstrap/dist/css/bootstrap.min.css">

      <!-- FontAwesome -->
      <script defer src="/themes/godlike/vendor/fontawesome-free/js/all.js"></script>
      <script defer src="/themes/godlike/vendor/fontawesome-free/js/v4-shims.js"></script>

      <!-- IonIcons -->
      <link rel="stylesheet" href="/themes/godlike/vendor/ionicons/css/ionicons.min.css">

      <!-- Revolution Slider -->
      <link rel="stylesheet" href="/themes/godlike/vendor/revolution/css/settings.css">
      <link rel="stylesheet" href="/themes/godlike/vendor/revolution/css/layers.css">
      <link rel="stylesheet" href="/themes/godlike/vendor/revolution/css/navigation.css">

      <!-- Flickity -->
      <link rel="stylesheet" href="/themes/godlike/vendor/flickity/dist/flickity.min.css">

      <!-- Photoswipe -->
      <link rel="stylesheet" href="/themes/godlike/vendor/photoswipe/dist/photoswipe.css">
      <link rel="stylesheet" href="/themes/godlike/vendor/photoswipe/dist/default-skin/default-skin.css">

      <!-- DateTimePicker -->
      <link rel="stylesheet" href="/themes/godlike/vendor/jquery-datetimepicker/build/jquery.datetimepicker.min.css">

      <!-- Summernote -->
      <link rel="stylesheet" href="/themes/godlike/vendor/summernote/dist/summernote-bs4.css">

      <!--QUICKEDIT-->
      <link rel="stylesheet" href="/core/modules/quickedit/css/quickedit.icons.theme.css">
      <link rel="stylesheet" href="/core/modules/quickedit/css/quickedit.module.css">
      <link rel="stylesheet" href="/core/modules/quickedit/css/quickedit.theme.css">

      <!-- GODLIKE -->
      <link rel="stylesheet" href="/themes/godlike/css/godlike.css">

      <!-- Custom Styles -->
      <link rel="stylesheet" href="/themes/godlike/css/custom.css">

      <css-placeholder token="{{ placeholder_token }}">
      <js-placeholder token="{{ placeholder_token }}">

      <!-- END: Styles -->

      <!-- jQuery -->
      <script src="/themes/godlike/vendor/jquery/dist/jquery.min.js"></script>
  </head>

  <body class="scrollbar-custom">
  {{ page_top }}
  {{ page }}
  {{ page_bottom }}

  <!-- START: Scripts -->
  <!-- Object Fit Polyfill -->
  <script src="/themes/godlike/vendor/object-fit-images/dist/ofi.min.js"></script>

  <!-- GSAP -->
  <script src="/themes/godlike/vendor/gsap/src/minified/TweenMax.min.js"></script>
  <script src="/themes/godlike/vendor/gsap/src/minified/plugins/ScrollToPlugin.min.js"></script>

  <!-- Popper -->
  <script src="/themes/godlike/vendor/popper.js/dist/umd/popper.min.js"></script>

  <!-- Bootstrap -->
  <script src="/themes/godlike/vendor/bootstrap/dist/js/bootstrap.min.js"></script>

  <!-- Sticky Kit -->
  <script src="/themes/godlike/vendor/sticky-kit/dist/sticky-kit.min.js"></script>

  <!-- Jarallax -->
  <script src="/themes/godlike/vendor/jarallax/dist/jarallax.min.js"></script>
  <script src="/themes/godlike/vendor/jarallax/dist/jarallax-video.min.js"></script>

  <!-- imagesLoaded -->
  <script src="/themes/godlike/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>

  <!-- Flickity -->
  <script src="/themes/godlike/vendor/flickity/dist/flickity.pkgd.min.js"></script>

  <!-- Isotope -->
  <script src="/themes/godlike/vendor/isotope-layout/dist/isotope.pkgd.min.js"></script>

  <!-- Photoswipe -->
  <script src="/themes/godlike/vendor/photoswipe/dist/photoswipe.min.js"></script>
  <script src="/themes/godlike/vendor/photoswipe/dist/photoswipe-ui-default.min.js"></script>

  <!-- Typed.js -->
  <script src="/themes/godlike/vendor/typed.js/lib/typed.min.js"></script>

  <!-- Jquery Validation -->
  <script src="/themes/godlike/vendor/jquery-validation/dist/jquery.validate.min.js"></script>

  <!-- Jquery Countdown + Moment -->
  <script src="/themes/godlike/vendor/jquery-countdown/dist/jquery.countdown.min.js"></script>
  <script src="/themes/godlike/vendor/moment/min/moment.min.js"></script>
  <script src="/themes/godlike/vendor/moment-timezone/builds/moment-timezone-with-data.min.js"></script>

  <!-- Hammer.js -->
  <script src="/themes/godlike/vendor/hammerjs/hammer.min.js"></script>

  <!-- NanoSroller -->
  <script src="/themes/godlike/vendor/nanoscroller/bin/javascripts/jquery.nanoscroller.js"></script>

  <!-- SoundManager2 -->
  <script src="/themes/godlike/vendor/soundmanager2/script/soundmanager2-nodebug-jsmin.js"></script>

  <!-- DateTimePicker -->
  <script src="/themes/godlike/vendor/jquery-datetimepicker/build/jquery.datetimepicker.full.min.js"></script>

  <!-- Revolution Slider -->
  <script src="/themes/godlike/vendor/revolution/js/jquery.themepunch.tools.min.js"></script>
  <script src="/themes/godlike/vendor/revolution/js/jquery.themepunch.revolution.min.js"></script>
  <script src="/themes/godlike/vendor/revolution/js/extensions/revolution.extension.video.min.js"></script>
  <script src="/themes/godlike/vendor/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
  <script src="/themes/godlike/vendor/revolution/js/extensions/revolution.extension.navigation.min.js"></script>

  <!-- Keymaster -->
  <script src="/themes/godlike/vendor/keymaster/keymaster.js"></script>

  <!-- Summernote -->
  <script src="/themes/godlike/vendor/summernote/dist/summernote-bs4.min.js"></script>

  <!-- GODLIKE -->
  <script src="/themes/godlike/js/godlike.min.js"></script>
  <script src="/themes/godlike/js/godlike-init.js"></script>

  <js-bottom-placeholder token="{{ placeholder_token }}">
  <!-- END: Scripts -->
  </body>
</html>
