{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

<!-- START: Page Preloader -->
<div class="nk-preloader">
  <!--Preloader animation-->
  <div class="nk-preloader-bg"
       style="background-color: #000;"
       data-close-frames="23"
       data-close-speed="1.2"
       data-close-sprites="/themes/godlike/images/preloader-bg.png"
       data-open-frames="23"
       data-open-speed="1.2"
       data-open-sprites="/themes/godlike/images/preloader-bg-bw.png">
  </div>
  <div class="nk-preloader-content">
    <div>
      <img class="nk-img" src="/themes/godlike/images/logo.png" alt="Courbelac - Bootstrap 4 Template" width="340">
      <div class="nk-preloader-animation"></div>
    </div>
  </div>
  <div class="nk-preloader-skip">Passer</div>
</div>
<!-- END: Page Preloader -->

<!--START: Page Background-->
<div class="nk-page-background op-5" data-video="mp4:/themes/godlike/mp4/godlike-fire-background.mp4" data-video-loop="true" data-video-mute="true" data-video-volume="0" data-video-start-time="0" data-video-end-time="0" data-video-pause-on-page-leave="true" style="background-image: url('/themes/godlike/images/page-background.jpg');"></div>
<!-- END: Page Background -->

<!--START: Page Audio Background-->
<div class="nk-page-background-audio d-none" data-audio="/themes/godlike/mp3/purpleplanetmusic-desolation.mp3" data-audio-volume="100" data-audio-autoplay="true" data-audio-loop="true" data-audio-pause-on-page-leave="true"></div>
<!-- END: Page Background -->

<!-- START: Page Border -->
<div class="nk-page-border">
  <div class="nk-page-border-t"></div>
  <div class="nk-page-border-r"></div>
  <div class="nk-page-border-b"></div>
  <div class="nk-page-border-l"></div>
</div>
<!-- END: Page Border -->

{% if 'mj' == user.getroles.1 or 'administrator' == user.getroles.1 %}
<!--
START: Share Buttons
    .nk-share-buttons-left
-->
<div class="nk-share-buttons nk-share-buttons-left d-none d-md-flex">
  <ul>
    <li>
      <a href="/node/{{ node.id }}/edit?destination=node/{{ node.id }}" style="color: white!important;">
        <span class="nk-share-icon">
           <i class="fas fa-edit"></i>
        </span>
        <span class="nk-share-name">Modifier - {{ node.type.entity.label }}</span>
      </a>
    </li>
    <li>
      <a href="/admin/content" style="color: white!important;" target="_blank">
        <span class="nk-share-icon">
           <i class="far fa-plus-square"></i>
        </span>
        <span class="nk-share-name">Ajouter du contenu</span>
      </a>
    </li>
    <li>
      <a href="/media/add" style="color: white!important;" target="_blank">
        <span class="nk-share-icon">
           <i class="far fa-images"></i>
        </span>
        <span class="nk-share-name">Ajouter un média</span>
      </a>
    </li>
  </ul>
</div>
<!-- FIN REGION HEADER -->
{% endif %}

<!--START: Side Buttons-->
<div class="nk-side-buttons nk-side-buttons-visible">
    <ul>
        {#<li>#}
        {#<a href="https://coissard.net" target="_blank" class="nk-btn nk-btn-lg link-effect-4">Keep in Touch</a>#}
        {#</li>#}
        <li>
            <span class="nk-btn nk-btn-lg nk-btn-icon nk-bg-audio-toggle">
                <span class="icon">
                    <span class="ion-android-volume-up nk-bg-audio-pause-icon"></span>
                    <span class="ion-android-volume-off nk-bg-audio-play-icon"></span>
                </span>
            </span>
        </li>
        <li class="nk-scroll-top">
            <span class="nk-btn nk-btn-lg nk-btn-icon">
                <span class="icon ion-ios-arrow-up"></span>
            </span>
        </li>
    </ul>
</div>
<!-- END: Side Buttons -->


<!-- DEBUT:MAIN NAVIGATION-->
{{ page.primary_menu }}
<!-- FIN:MAIN NAVIGATION-->

<!-- DEBUT:BREADCRUMBS-->
{#{{ page.breadcrumbs }}#}
<!-- FIN:BREADCRUMBS-->

<!-- DEBUT: CONTENT -->
<div class="nk-main">
  {{ page.content }}
    <div class="nk-gap-1"></div>
</div>
<!-- FIN: CONTENT -->

<!-- REGION FOOTER -->
<!-- START: Footer -->
<!--
    Additional Classes:
        .nk-footer-parallax
        .nk-footer-parallax-opacity
-->
<br/>
<footer class="nk-footer nk-footer-parallax nk-footer-parallax-opacity">
    <img class="nk-footer-top-corner" src="/themes/godlike/images/footer-corner.png" alt="">
    <div class="container">
        <div class="nk-gap-2"></div>
        <p>
            &copy;2018 Website developed by <a href="http://coissard.net" target="_blank">Kévin Coissard</a>. Content written by Pierre Corneloup-Harczos. All Rights Reserved.
        </p>
        {#<div class="nk-footer-links">#}
        {#<a href="#" class="link-effect">Contacter l'administrateur du site.</a> <span>#}
        {#</div>#}
        <div class="nk-gap-1"></div>
    </div>
</footer>
<!-- END: Footer -->
<!-- FIN REGION FOOTER -->

<!--START: Sign Form-->
<div class="nk-sign-form">
  <div class="nk-gap-5"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3">
        <div class="nk-sign-form-container">
          <div class="nk-sign-form-toggle h3">
              {% if logged_in %}
                <a class="nk-sign-form-login-toggle active">Êtes-vous sûr de vouloir vous déconnecter ?</a>
              {% else %}
                <a class="nk-sign-form-login-toggle active">Entrez vos identifiants</a>
              {% endif %}
          </div>
          <div class="nk-gap-2"></div>

            {% if logged_in %}
              <div style="text-align: center;">
                <a class="nk-btn nk-btn-style-1 nk-btn-md nk-btn-color-main-1" href="/user/logout" data-drupal-link-system-path="user/logout">Oui</a>
              </div>
            {% else %}
              <form class="nk-sign-form-login active" data-drupal-selector="user-login-form" action="/user/login" method="post" id="user-login-form" accept-charset="UTF-8" novalidate="novalidate">
                <div class="js-form-item form-item js-form-type-textfield form-item-name js-form-item-name">
                  <input placeholder="Nom d'utilisateur ou E-mail" autofocus="autofocus" data-drupal-selector="edit-name" aria-describedby="edit-name--description" type="text" id="edit-name" name="name" value="" size="60" maxlength="60" class="form-control required" required="required" aria-required="true">
                </div>

                <br/>

                <div class="js-form-item form-item js-form-type-password form-item-pass js-form-item-pass">
                  <input placeholder="Mot de passe" data-drupal-selector="edit-pass" aria-describedby="edit-pass--description" type="password" id="edit-pass" name="pass" size="60" maxlength="128" class="form-control required" required="required" aria-required="true">
                </div>

                <br/>

                <input autocomplete="off" data-drupal-selector="form-1uvtkg3114-qkfqyqlq6cnjysq3nx-a264njm91ueoa" type="hidden" name="form_build_id" value="form-1uVTKg3114-QkFqyQlq6cnjySQ3nx-a264NjM91UeoA">
                <input data-drupal-selector="edit-user-login-form" type="hidden" name="form_id" value="user_login_form">
                <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions" style="text-align: center;">
                  <input data-drupal-selector="edit-submit" type="submit" id="edit-submit" name="op" value="Connexion" class="nk-btn nk-btn-color-white link-effect-4 ready js-form-submit form-submit" style="border: solid 1px white;">
                </div>
              </form>
            {% endif %}

        </div>
      </div>
    </div>
  </div>
  <div class="nk-gap-5"></div>
</div>
<!-- END: Sign Form -->

<!--DEBUT: Hidden blocks-->
{{ page.footer_first }}
<!--FIN: Hidden blocks-->





