<!-- START: block Container -->
<div class="text-align-center">
{% if label %}
  <h2 class="nk-title h3">{{ label }}</h2>
  <div class="nk-title-sep"></div>
{% endif %}
</div>

{% block content %}
  {{ content }}
{% endblock %}