<!-- START: block Container -->
<div class="container">
    <div class="text-align-center">
        {% if label %}
            <h2 class="nk-title h3">{{ label }}</h2>
            <div class="nk-title-sep"></div>
        {% endif %}
    </div>

    <div class="nk-popup-gallery">
        {% block content %}
            {{ content }}
        {% endblock %}
    </div>
</div>
