<!--START: Search form -->
<div class="nk-search">
    <div class="container">
        <div>
            <form action="/search/node" method="get" id="search-block-form" accept-charset="UTF-8" novalidate="novalidate">
                <fieldset class="form-group nk-search-field">
                    <input type="text" class="form-search" placeholder="Rechercher..." name="keys" data-drupal-selector="edit-keys" type="search" id="edit-keys" name="keys" value="" size="15" maxlength="128" style="outline:none;">
                    <label for="searchInput"><i class="ion-ios-search"></i></label>
                </fieldset>
                <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions" style="display: none;">
                    <input data-drupal-selector="edit-submit" type="submit" id="edit-submit" value="Rechercher" class="button js-form-submit form-submit">
                </div>
            </form>
        </div>
    </div>
</div>
<!--END: Search form -->