<div class="nk-gap-2"></div>
<!-- START: block Container -->
<div class="container">
  <div class="text-align-center">
    {% if label %}
      <h2 class="nk-title h3">{{ label }}</h2>
      <div class="nk-title-sep"></div>
    {% endif %}
  </div>

    <!-- START: Gallery List -->
    <div class="nk-popup-gallery nk-popup-gallery-2-col nk-isotope">
    {% block content %}
      {{ content }}
    {% endblock %}
    </div>
  </div>
</div>