<div class="nk-blog-post">
  <div class="nk-post-thumb">
    <a href="{{ url }}">
      <img src="{{ file_url(node.field_image_personnage.entity.uri.value) }}" alt="" class="nk-img-stretch">
    </a>
  </div>
  <div class="nk-post-content">
    <h2 class="nk-post-title h4 text-center">
      <a href="{{ url }}" style="color:#e08821!important;">{{ label }}</a>
    </h2>
    <div class="nk-post-text text-center">
        <p>Continent : {{ content.field_continent.0['#text'] }}</p>
        <a href="{{ url }}" class="nk-btn nk-btn-color-main-1">Détail</a>
    </div>
  </div>
</div>