{% set datasize = file_url(node.field_image_personnage.width)|replace({'/': ''}) ~ 'x' ~ file_url(node.field_image_personnage.height)|replace({'/': ''}) %}

<div class="nk-gallery-item-box nk-isotope-item" data-mouse-parallax-z="5" data-mouse-parallax-speed="1">
  <a href="{{ file_url(node.field_image_personnage.entity.uri.value) }}" class="nk-gallery-item text-center" data-size="{{ datasize }}" style="text-decoration: none; color: white;">
      {{ label }}
    <img src="{{ file_url(node.field_image_personnage.entity.uri.value) }}" alt="">
  </a>
  <div class="photoswipe-description">
    <h4>{{ label }}</h4>
      {{ content.field_description }}
  </div>
</div>