{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}

{#<div{{ content_attributes.addClass('node__content') }}>#}

    {#{{ content }}#}
{#</div>#}

<!-- START: Header Title -->
<!--
    Additional Classes:
        .nk-header-title-sm
        .nk-header-title-md
        .nk-header-title-lg
        .nk-header-title-xl
        .nk-header-title-full
        .nk-header-title-parallax
        .nk-header-title-parallax-opacity
        .nk-header-title-boxed
-->
<div class="nk-header-title nk-header-title-sm nk-header-title-parallax nk-header-title-parallax-opacity">
    <div class="bg-image op-5 bg-image-parallax" data-type="scroll-opacity">

        <div id="jarallax-container-0"><img src="#" alt="" class="jarallax-img"></div></div>
    <div class="nk-header-table">
        <div class="nk-header-table-cell">
            <div class="row player-stats">
                <div class="col-md-2"></div>
                <div class="col-md-3 main-stats">
                    <div class="row">
                        <div class="col-md-4 container-stat">
                            <img src="/themes/godlike/images/heart.png" alt="hp" class="img-stat-player">
                            <div class="centered stat-number" style="top: 30%;">{{ content.field_hp.0['#markup'] }}</div>
                            <div class="">PV</div>
                        </div>
                        <div class="col-md-4 container-stat">
                            <img src="/themes/godlike/images/shield-1.png" alt="arm" class="img-stat-player">
                            <div class="centered stat-number" style="top: 30%;">{{ content.field_armure.0['#markup'] }}</div>
                            <div class="">Armure</div>
                        </div>
                        <div class="col-md-4 container-stat">
                            <img src="/themes/godlike/images/fire.png" alt="aff" class="img-stat-player">
                            <div class="centered stat-number" style="top: 30%;">{{ content.field_affiliation.0['#markup'] }}</div>
                            <div class="">Affiliation</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 secondary-stats">
                    <div class="row">
                        <div class="col-md-2 container-stat">
                            <img src="/themes/godlike/images/weightlifting.png" alt="fo" class="img-stat-player">
                            <div class="centered stat-number" style="top: 45%;">{{ content.field_score_force.0['#markup'] }}</div>
                            <div class="">Force</div>
                        </div>
                        <div class="col-md-2 container-stat">
                            <img src="/themes/godlike/images/boot.png" alt="agi" class="img-stat-player">
                            <div class="centered stat-number" style="top: 45%;">{{ content.field_score_agilite.0['#markup'] }}</div>
                            <div class="">Agilité</div>
                        </div>
                        <div class="col-md-2 container-stat">
                            <img src="/themes/godlike/images/target-1.png" alt="preci" class="img-stat-player">
                            <div class="centered stat-number-inversed" style="top: 30%;">{{ content.field_score_precision.0['#markup'] }}</div>
                            <div class="">Précision</div>
                        </div>
                        <div class="col-md-2 container-stat">
                            <img src="/themes/godlike/images/open-book.png" alt="intel" class="img-stat-player">
                            <div class="centered stat-number" style="top: 30%;">{{ content.field_score_intelligence.0['#markup'] }}</div>
                            <div class="">Intelligence</div>
                        </div>
                        <div class="col-md-2 container-stat">
                            <img src="/themes/godlike/images/speaking.png" alt="soc" class="img-stat-player">
                            <div class="centered stat-number" style="top: 30%;">{{ content.field_score_social.0['#markup'] }}</div>
                            <div class="">Sociable</div>
                        </div>
                        <div class="col-md-2 container-stat">
                            <img src="/themes/godlike/images/star.png" alt="cbt" class="img-stat-player">
                            <div class="centered stat-number" style="top: 30%;">{{ content.field_score_combat.0['#markup'] }}</div>
                            <div class="">Pts Cbt</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>

</div>
<!-- END: Header Title -->

<div class="container">
    <div class="nk-social-profile nk-social-profile-container-offset">
        <div class="row">
            <div class="col-md-7 col-lg-9">
                <div class="nk-social-profile-info">
                    <div class="nk-gap-2"></div>
                    <div class="nk-social-profile-info-last-seen">Dernière MàJ : {{ node.getChangedTime|date('d-m-Y H:i') }}</div>
                    {% if content.field_vivant.0['#markup'] == 'Mort' %}
                        {% set labelcolor = 'red-custom'  %}
                    {% else %}
                        {% set labelcolor = 'darkorange'  %}
                    {% endif %}
                    <h1 class="nk-social-profile-info-name {{ labelcolor }}">{{ label }}</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="row vertical-gap">
        <div class="col-lg-3 nk-sidebar-sticky-parent" style="">
            <!--
                START: Sidebar

                Additional Classes:
                    .nk-sidebar-left
                    .nk-sidebar-right
                    .nk-sidebar-sticky
            -->
            <aside class="nk-sidebar nk-sidebar-left nk-sidebar-sticky"><div class="" style="">

                    <div class="nk-gap-2"></div>

                    <div class="nk-social-menu d-none d-lg-block text-center">
                        <div class="nk-social-profile-avatar">
                            <div class="nk-social-profile-avatar">
                                <a href="#">
                                    <img src="{{ file_url(node.field_image_personnage.entity.uri.value) }}" alt="nK" style="max-width: 260px; max-height: 300px;">
                                </a>
                            </div>
                        </div>
                        <div class="nk-gap-2"></div>
                        <ul>
                            {% if content.field_vivant.0['#markup'] == 'Mort' %}
                                <li>
                                    <img src="/themes/godlike/images/skull.svg" alt="rip" style="max-width: 24px;">
                                    <span class="red-custom" style="text-shadow: initial;font-weight: bold;">Personnage mort</span>
                                    <img src="/themes/godlike/images/rip.svg" alt="rip" style="max-width: 24px;">
                                </li>
                            {% endif %}
                            <li>
                                <span class="player-field-label">Age : </span>
                                <span class="player-field-content {{ labelcolor }}">{{ content.field_age.0['#markup'] }}</span>
                            </li>
                            <li>
                                <span class="player-field-label">Profession : </span>
                                <span class="player-field-content {{ labelcolor }}">{{ content.field_profession.0['#text'] }}</span>
                            </li>
                            <li>
                                <span class="player-field-label">Race : </span>
                                <span class="player-field-content {{ labelcolor }}">{{ content.field_race.0['#text'] }}</span>
                            </li>
                            <li>
                                <span class="player-field-label">Localisation principale : </span>
                                <span class="player-field-content {{ labelcolor }}">{{ content.field_lieu.0['#text'] }}</span>
                            </li>
                        </ul>
                    </div>

                    <div class="nk-accordion d-lg-none" id="nk-social-menu-mobile" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="nk-social-profile-avatar">
                                <div class="nk-social-profile-avatar">
                                    <a href="#">
                                        <img src="{{ file_url(node.field_image_personnage.entity.uri.value) }}" alt="nK" style="max-width: 280px;">
                                    </a>
                                </div>
                            </div>
                            <div class="panel-heading" role="tab" id="nk-social-menu-mobile-1-heading">
                                <a data-toggle="collapse" data-parent="#nk-social-menu-mobile" href="#nk-social-menu-mobile-1" aria-expanded="true" aria-controls="nk-social-menu-mobile-1" class="d-none">
                                    Menu
                                </a>
                            </div>
                            <div id="nk-social-menu-mobile-1" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="nk-social-menu-mobile-1-heading" style="">
                                <div class="nk-social-menu">
                                    <ul>
                                        {% if content.field_vivant.0['#markup'] == 'Mort' %}
                                            <li>
                                                <img src="/themes/godlike/images/skull.svg" alt="rip" style="max-width: 24px;">
                                                <span class="red-custom" style="text-shadow: initial;font-weight: bold;">Personnage mort</span>
                                                <img src="/themes/godlike/images/rip.svg" alt="rip" style="max-width: 24px;">
                                            </li>
                                        {% endif %}
                                        <li>
                                            <span class="player-field-label">Age : </span>
                                            <span class="player-field-content {{ labelcolor }}">{{ content.field_age.0['#markup'] }} ans</span>
                                        </li>
                                        <li>
                                            <span class="player-field-label">Profession : </span>
                                            <span class="player-field-content {{ labelcolor }}">{{ content.field_profession.0['#text'] }}</span>
                                        </li> <li>
                                            <span class="player-field-label">Race : </span>
                                            <span class="player-field-content {{ labelcolor }}">{{ content.field_race.0['#text'] }}</span>
                                        </li>
                                        <li>
                                            <span class="player-field-label">Localisation principale : </span>
                                            <span class="player-field-content {{ labelcolor }}">{{ content.field_lieu.0['#text'] }}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="nk-gap-4 d-none d-lg-block"></div>
                </div></aside>
            <!-- END: Sidebar -->
        </div>

        <div class="col-lg-9">
            <div class="nk-gap-2 d-none d-lg-block"></div>
            <!--DEBUT ONGLETS-->
            <div class="nk-tabs">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active show" href="#tabs-description" role="tab" data-toggle="tab" aria-selected="false">Description</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#tabs-competences" role="tab" data-toggle="tab" aria-selected="true">Compétences</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#tabs-equipements" role="tab" data-toggle="tab" aria-selected="false">Objets à vendre</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade active show" id="tabs-description">
                        <div class="nk-gap-1"></div>
                            <div class="nk-social-container">
                                {{ content.field_description }}
                            </div>
                        <div class="nk-gap-1"></div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="tabs-competences">
                        <div class="nk-gap-1"></div>
                            <div class="nk-social-container">
                                {{ content.field_competences_speciales }}
                            </div>
                        <div class="nk-gap-1"></div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="tabs-equipements">
                        <div class="nk-gap-1"></div>
                            <div class="nk-social-container">
                                {{ content.field_liste_phrases }}
                            </div>
                        <div class="nk-gap-1"></div>
                    </div>
                </div>
            </div>
            <!--FIN ONGLETS-->
        </div>
    </div>
</div>


