 <!-- START: Header Title -->
  <!--
      Additional Classes:
          .nk-header-title-sm
          .nk-header-title-md
          .nk-header-title-lg
          .nk-header-title-xl
          .nk-header-title-full
          .nk-header-title-parallax
          .nk-header-title-parallax-opacity
          .nk-header-title-boxed
  -->
  <div class="nk-header-title nk-header-title-md nk-header-title-parallax nk-header-title-parallax-opacity nk-header-title-boxed">
    <div class="bg-image op-5 bg-image-parallax" data-type="scroll-opacity">
      <div id="jarallax-container-0"></div>
    </div>
    <div class="nk-header-table" style="padding-top: 0px; opacity: 1; transform: translateY(0px) translateZ(0px);">
      <div class="nk-header-table-cell">
        <div class="container">
          <div class="nk-header-text">
            <div class="row text-left">
              <div class="col-lg-12" style="text-align: center;">
                <div class="d-none d-lg-block"></div>
                <h1 class="nk-title">{{ label }}</h1>
                <h5 style="display: inline-flex;">Continent :  {{ content.field_continent.0['#text'] }}</h5>
                <div class="nk-gap-5 d-none d-lg-block"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- END: Header Title -->

 <div class="container">
   <div class="row">
     <div class="col-lg-12">
       <div class="nk-blog-container nk-blog-container-offset">
         <!-- START: Post -->
         <div class="nk-blog-post nk-blog-post-single">
           <div style="text-align: center!important;">
             <img class="" src="{{ file_url(node.field_image_personnage.entity.uri.value) }}" alt="">
           </div>
           <!-- START: Post Text -->
           <div class="nk-post-text mt-0">
               {{ content.field_description }}
           </div>
           <!-- END: Post Text -->
         </div>
         <!-- END: Post -->
         <div class="nk-gap-4"></div>
       </div>
     </div>

   </div>
   <div class="nk-gap-4"></div>
   <div class="nk-gap-3"></div>
 </div>