<div class="nk-blog-post">
  <div class="nk-post-thumb">
    <a href="{{ url }}">
      <img src="{{ file_url(node.field_image_personnage.entity.uri.value) }}" alt="" class="nk-img-stretch">
    </a>
  </div>
  <div class="nk-post-content">
    <h2 class="nk-post-title h4">
      <a href="{{ url }}">{{ label }}</a>
    </h2>
    <div class="nk-post-date">
      {{ content.field_type_histoire }}
    </div>
    <div class="nk-post-text text-align-center" style="text-align: justify;">
        <p>{{ content.field_page_text.0['#text'][:150]|striptags }} (...)</p>
        <a href="{{ url }}" class="nk-btn nk-btn-color-main-1">Voir l'histoire</a>
    </div>
  </div>
</div>