{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}
{{ attach_library('classy/node') }}
{#<article{{ attributes.addClass(classes) }}>#}

  {#{{ title_prefix }}#}
  {#{% if not page %}#}
    {#<h2{{ title_attributes }}>#}
      {#<a href="{{ url }}" rel="bookmark">{{ label }}</a>#}
    {#</h2>#}
  {#{% endif %}#}
  {#{{ title_suffix }}#}

  {#{% if display_submitted %}#}
    {#<footer class="node__meta">#}
      {#{{ author_picture }}#}
      {#<div{{ author_attributes.addClass('node__submitted') }}>#}
        {#{% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}#}
        {#{{ metadata }}#}
      {#</div>#}
    {#</footer>#}
  {#{% endif %}#}

  {#<div{{ content_attributes.addClass('node__content') }}>#}
    {#{{ content }}#}
  {#</div>#}

{#</article>#}

  <!-- START: Header Title -->
  <!--
      Additional Classes:
          .nk-header-title-sm
          .nk-header-title-md
          .nk-header-title-lg
          .nk-header-title-xl
          .nk-header-title-full
          .nk-header-title-parallax
          .nk-header-title-parallax-opacity
          .nk-header-title-boxed
  -->
  <div class="nk-header-title nk-header-title-md nk-header-title-parallax nk-header-title-parallax-opacity nk-header-title-boxed">
    <div class="bg-image op-5 bg-image-parallax" data-type="scroll-opacity">
      <div id="jarallax-container-0">
        <img src="{{ file_url(node.field_image_personnage.entity.uri.value) }}" alt="" class="jarallax-img" >
      </div>
    </div>
    <div class="nk-header-table" style="padding-top: 0px; opacity: 1; transform: translateY(0px) translateZ(0px);">
      <div class="nk-header-table-cell">
        <div class="container">
          <div class="nk-header-text">

            <div class="row text-left">
              <div class="col-lg-8">
                <div class="nk-gap-5 d-none d-lg-block"></div>
                <h1 class="nk-title">{{ label }}</h1>
                <div class="nk-gap-3 d-none d-lg-block"></div>
                <div class="nk-gap-5 d-none d-lg-block"></div>
              </div>
              <div class="col-lg-4">
                <aside class="nk-sidebar nk-sidebar-right">
                  <div class="nk-gap-5 d-none d-lg-block"></div>
                  <div class="nk-gap d-lg-none"></div>
                  <table>
                    <tbody>
                    <tr>
                      <td><strong>Type d'histoire :</strong></td>
                      <td>{{ content.field_type_histoire.0['#markup'] }}</td>
                    </tr>
                    <tr>
                      <td><strong>Publiée le :</strong></td>
                      <td>{{node.getCreatedTime|format_date('date_format_fr') }}</td>
                    </tr>
                    <tr>
                      <td><strong>Par :</strong></td>
                      <td>{{ author_name }}</td>
                    </tr>
                    </tbody>
                  </table>
                  <div class="nk-gap-5 d-lg-none"></div>
                </aside>
              </div>
            </div>

          </div>


        </div>
      </div>
    </div>

  </div>
  <!-- END: Header Title -->




<div class="container">
  <div class="row">
      {% if content.field_liens_entites['#field_name'] is not empty %}
    <div class="col-lg-8">
      {% else %}
    <div class="col-lg-12">
      {% endif %}
      <div class="nk-blog-container nk-blog-container-offset">
        <!-- START: Post -->
        <div class="nk-blog-post nk-blog-post-single">
          <!-- START: Post Text -->
          <div class="nk-post-text mt-0 full-text-story">
            {{ content.field_page_text }}
          </div>
          <!-- END: Post Text -->
        </div>
        <!-- END: Post -->

        <div class="nk-gap-4"></div>
      </div>
    </div>
    {% if content.field_liens_entites['#field_name'] is not empty %}
      <div class="col-lg-4 nk-sidebar-sticky-parent" style="">
        <!--
            START: Sidebar

            Additional Classes:
                .nk-sidebar-left
                .nk-sidebar-right
                .nk-sidebar-sticky
        -->
        <aside class="nk-sidebar nk-sidebar-right nk-sidebar-sticky"><div class="" style="">
            <div class="nk-gap-4"></div>
            <div class="nk-widget">
              <h4 class="nk-widget-title">Pages liées</h4>
              <div>
                {{ content.field_liens_entites }}
              </div>
            </div>
            {#<div class="nk-gap-4"></div>#}
          </div></aside>
        <!-- END: Sidebar -->
      </div>
    {% endif %}
  </div>
  <div class="nk-gap-3"></div>
</div>