{% if node.id is divisible by(2) %}
    {% set reverse = 'nk-team-member-revert' %}
{% endif %}

{% if content.field_vivant.0['#markup'] == 'Mort' %}
    {% set deadclass = 'dead-player' %}
    {% set labelcolor = 'red-custom'  %}
{% else %}
    {% set deadclass = '' %}
    {% set labelcolor = 'darkorange'  %}
{% endif %}

<div class="col-lg-12 p-20">
    <div class="nk-team-member {{ reverse }} parallaxed" data-mouse-parallax-z="5">
        <div class="nk-team-member-photo">
            <a href="{{ url }}">
                <img class="{{ deadclass }}" src="{{ file_url(node.field_image_personnage.entity.uri.value) }}" alt="" style="max-height: 800px; width: auto;">
                <div style="position: absolute;top: 8px;left:16px;color: white;text-decoration: none;">
                    <h3 class="nk-title h2 player-title-teaser">
                        <span class="{{ labelcolor }}">
                        {% if content.field_vivant.0['#markup'] == 'Mort' %}
                            <img src="/themes/godlike/images/skull.svg" alt="rip" style="max-width: 48px;">
                            {{ label }}
                            <img src="/themes/godlike/images/rip.svg" alt="rip" style="max-width: 48px;">
                        {% else %}
                            {{ label }}
                        {% endif %}
                        </span>
                    </h3>
                    <div class="player-field-teaser">Age : <span class="{{ labelcolor }}">{{ content.field_age.0['#markup'] }}</span></div>
                    <div class="player-field-teaser">Profession : <span class="{{ labelcolor }}">{{ content.field_profession.0['#text'] }}</span></div>
                    <div class="player-field-teaser">Race : <span class="{{ labelcolor }}">{{ content.field_race.0['#text'] }}</span></div>
                    <div class="player-field-teaser">Localisation principale : <span class="{{ labelcolor }}">{{ content.field_lieu.0['#text'] }}</span></div>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="nk-gap-1"></div>