{% if content.field_dangerosite.0['#markup'] == 'Peu dangereux' %}
    {% set dangercolor = 'green-custom' %}
{% elseif content.field_dangerosite.0['#markup'] == 'Dangereux' %}
    {% set dangercolor = 'yellow-custom' %}
{% elseif content.field_dangerosite.0['#markup'] == 'Très dangereux' %}
    {% set dangercolor = 'darkorange' %}
{% else %}
    {% set dangercolor = 'red-custom' %}
{% endif %}

{% if content.field_rarete.0['#markup'] == 'Commun' %}
    {% set raretecolor = 'text-white' %}
{% elseif content.field_rarete.0['#markup'] == 'Rare' %}
    {% set raretecolor = 'blue-custom' %}
{% else %}
    {% set raretecolor = 'yellow-custom' %}
{% endif %}




<div class="col-md-6 mb-80 mt-20">
    <blockquote class="nk-testimonial-2 monstre-teaser">
        <a href="{{ url }}" target="_blank">
            <div class="nk-testimonial-photo-custom" style="background-image: url({{ file_url(node.field_image_personnage.entity.uri.value) }});"></div>
        </a>
      <div class="nk-testimonial-name h4 mt-80 darkorange">{{ label }}</div>
      <div class="nk-testimonial-body">
        <em style="color: darkgrey;">{{ content.field_description.0['#text'][:200]|striptags }} (...)</em>
      </div>
      <div class="field-monster-teaser text-align-center">
          <span class="label-monster-teaser">Race : </span>
          <span class="value-monster-teaser">{{ content.field_race.0['#text'] }}</span>
      </div>
        <div class="field-monster-teaser text-align-center">
            <span class="label-monster-teaser">Rareté : </span>
            <span class="value-monster-teaser {{ raretecolor }}">{{ content.field_rarete.0['#markup'] }}</span>
        </div>
        <div class="field-monster-teaser text-align-center">
            <span class="label-monster-teaser">Dangerosité : </span>
            <span class="value-monster-teaser {{ dangercolor }}">{{ content.field_dangerosite.0['#markup'] }}</span>
        </div>
        <div class="field-monster-teaser text-align-center">
            <span class="label-monster-teaser">Localisation principale : </span>
            <span class="value-monster-teaser">{{ content.field_lieu.0['#text'] }}</span>
        </div>
      <div class="text-align-center mt-20 mb-20">
        <a class="nk-btn nk-btn-color-main-1" href="{{ url }}" target="_blank">Plus d'infos</a>
      </div>
    </blockquote>
</div>