<!-- START: Header Title -->
<!--
    Additional Classes:
        .nk-header-title-sm
        .nk-header-title-md
        .nk-header-title-lg
        .nk-header-title-xl
        .nk-header-title-full
        .nk-header-title-parallax
        .nk-header-title-parallax-opacity
        .nk-header-title-boxed
-->
{% set image = false %}
{% if '/' != file_url(node.field_header_image.entity.uri.value) %}
    {% set image = true %}
{% endif %}
<div class="nk-header-title nk-header-title-md nk-header-title-parallax nk-header-title-parallax-opacity" {% if false == image %}style="background-color: rgba(0,0,0,0)!important;"{% endif %}>
  <div class="bg-image op-6 bg-image-parallax" data-type="scroll-opacity">
    <div id="jarallax-container-0">
      {% if image %}
        <img src="{{ file_url(node.field_header_image.entity.uri.value) }}" alt="" class="jarallax-img">
      {% endif %}
    </div>
  </div>
  <div class="nk-header-table" style="min-height: {% if image %} 350px {% else %} 150px {% endif %}!important;">
    <div class="nk-header-table-cell">
      <div class="container">
        <div class="nk-header-text">
          <h1 class="nk-title display-3">{{ label }}</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END: Header Title -->
<div class="nk-gap-2"></div>

<!-- START: page content -->
{{ content.field_page_text }}
<!-- END: page content -->

