{% if node.id is not divisible by(2) %}
    {% set reverse = 'nk-team-member-revert' %}
{% else %}
    {% set reverse = '' %}
{% endif %}

{% if content.field_vivant.0['#markup'] == 'Non' %}
    {% set deadclass = 'dead-player' %}
    {% set labelcolor = 'red-custom'  %}
{% else %}
    {% set deadclass = '' %}
    {% set labelcolor = 'darkorange'  %}
{% endif %}


<div class="col-lg-12 p-20">
  <div class="nk-team-member {{ reverse }} parallaxed" data-mouse-parallax-z="5">
    <div class="nk-team-member-photo">
      <a href="{{ url }}">
        <img class="{{ deadclass }}" src="{{ file_url(node.field_image_background.entity.uri.value) }}" alt="" style="max-height: 340px; width: auto;">
        <div style="position: absolute;top: 8px;left:16px;color: white;text-decoration: none;">
          <h3 class="nk-title h2 player-title-teaser">
              <span class="{{ labelcolor }}">
                {% if content.field_vivant.0['#markup'] == 'Non' %}
                  <img src="/themes/godlike/images/skull.svg" alt="rip" style="max-width: 48px;">
                    {{ label }}
                  <img src="/themes/godlike/images/rip.svg" alt="rip" style="max-width: 48px;">
                {% else %}
                    {{ label }}
                {% endif %}
              </span>
          </h3>
          {% if content.field_vivant.0['#markup'] == 'Non' %}

          {% endif %}
          <div class="player-field-teaser">Niveau : <span class="{{ labelcolor }}">{{ content.field_level.0['#markup'] }}</span></div>
          <div class="player-field-teaser">Race : <span class="{{ labelcolor }}">{{ content.field_race.0['#text'] }}</span></div>
          <div class="player-field-teaser">Classe : <span class="{{ labelcolor }}">{{ content.field_class.0['#text'] }}</span></div>
        </div>
      </a>
    </div>
  </div>
</div>
<div class="nk-gap-1"></div>