/* PLACE YOU CUSTOM STYLES IN THIS FILE */
html, body {
    height: 100%;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-top: 8px;
}

.violet-custom {
    color: #9300ff;
}

.red-custom {
    color: #ce0000;
}

.yellow-custom {
    color: #fff900;
}

.blue-custom {
    color: #0029ff;
}

.green-custom {
    color: green;
}

.visually-hidden {
    display: none;
}

.breadcrumb-custom{
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: black;
    opacity: 0.6;
    padding-left: 20%;
}

li.pager__item {
    list-style-type: none;
}

.player-title-teaser {
    color: darkorange;
    text-shadow: black 2px 1px;
}

.player-field-teaser {
    text-shadow: black 1px 1px;
}

.darkorange {
    color: darkorange;
}

.nk-title.display-3 {
    text-shadow: black 2px 1px;
}
.stat-number {
    text-shadow: black 1px 1px;
    font-size: larger;
}
.stat-number-inversed {
    color: black;
    text-shadow: white 1px 1px;
}

.player-field-content {
    text-shadow: black 2px 1px;
}

.t-shadow {
    text-shadow: black 1px 1px;
}
.container-stat {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

a.t-d-none {
    text-decoration: none;
}

.img-stat-player {
    width: 50%;
}

.nk-testimonial-2 .nk-testimonial-photo-custom {
    position: absolute;
    top: -100px;
    left: 50%;
    width: 200px;
    height: 200px;
    margin-left: -100px;
    overflow: hidden;
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 50%;
}

.label-monster-teaser {
    color: grey;
}

.full-text-story p {
    text-align: justify;
    text-justify: inter-word;
}

/* Formulaire de recherche */
.search-form {
    text-align: center;
    margin-top: 5%;
}

.search-help-link {
    display: none;
}

.search-advanced {
    display: none;
}

.search-form + h2 {
    text-align: center;
    margin-top: 5%;
}
.search-form + h3 {
    text-align: center;
    margin-top: 5%;
}

.search-form + h2 + ol {
    text-align: center;
    list-style-type: none;
}

.search-form  + h2 + ol li {
    background-color: #0e0e0e;
}

.search-form  + h2 + ol li p {
    display: none;
}

#edit-keys {
    text-align: center;
}

#edit-submit {
    position: relative;
    display: inline-block;
    padding: 12px 30px;
    font-family: "Marcellus SC", serif;
    font-size: .9rem;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: rgba(14, 14, 14, 0.9);
    border: none;
    border-radius: 2px;
    -webkit-transition: .2s box-shadow, .2s background-color, .2s color, .2s transform;
    -o-transition: .2s box-shadow, .2s background-color, .2s color, .2s transform;
    transition: .2s box-shadow, .2s background-color, .2s color, .2s transform;
    color: #e08821;
    border: solid 1px #b56d19;
}

/* Formulaire de connexion 2eme tentative */
#user-login-form {
    text-align: center;
    margin-top: 5%;
}

#user-login-form label {
    color: #e08821;
    margin-right: 2%;
}

#user-login-form .description {
    color: darkred;
    margin-bottom: 3%;
}

#user-login input {
    text-align: center;
}

#user-login-form .form-text {
    display: initial!important;
}

.dead-player {
    filter: grayscale(100%);
}

.nk-team-member-photo a:hover .dead-player {
    filter: initial;
}

/* RESPONSIVE */
@media (max-width: 640px) {
    .nk-team-member .nk-team-member-photo, .nk-team-member .nk-team-member-info {
        position: initial;
    }

    .player-stats .col-md-4 {
        width: inherit;
    }
    .player-stats .col-md-2 {
        width: inherit;
    }

    .player-stats {
        margin-bottom: 50px;
        padding-left: 10%;
    }

    .money-counter {
        text-align: center;
    }

    .nk-social-profile-info-name {
        text-align: center;
    }

    .nk-social-menu {
        text-align: center;
    }
}

@media (min-width: 641px) {

    .nk-main {
        min-height: 740px;
    }

    .main-stats {
        border-right: white solid 2px;
    }

    .tabs-monsters .nav-tabs {
        margin-top: -5%;
    }

    .pnj-full .nk-social-profile-avatar {
        width: 200%;
    }

    .nk-navbar .nk-nav-right {
        margin-top: 10px;
    }

    .scrollbar-custom::-webkit-scrollbar {
        width: 15px;
    }

    .scrollbar-custom::-webkit-scrollbar-thumb {
        background: rgba(14, 14, 14, 0.9);
        border: 1px solid #fff;
    }

    .scrollbar-custom::-webkit-scrollbar-track {
        background: #555;
    }
}