{%
    set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
]
%}
{%
    set title_classes = [
    'field__label',
    label_display == 'visually_hidden' ? 'visually-hidden',
]
%}
{% for item in items %}
    {% set datasize = file_url(item.content['#item'].width)|replace({'/': ''}) ~ 'x' ~ file_url(item.content['#item'].height)|replace({'/': ''}) %}
    <div class="nk-gallery-item-box nk-isotope-item parallaxed" data-mouse-parallax-z="5" data-mouse-parallax-speed="1">
        <a href="{{ file_url(item.content['#item'].entity.uri.value) }}" class="nk-gallery-item text-center t-d-none" data-size="{{ datasize }}">
            {{ item.content['#item'].alt }}
            <img src="{{ file_url(item.content['#item'].entity.uri.value) }}" alt="">
        </a>
        <div class="photoswipe-description">
            <h4>{{ item.content['#item'].alt }}</h4>
        </div>
    </div>
{% endfor %}