{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% if breadcrumb %}
  <div class="nk-header-text-bottom breadcrumb-custom">
    <div class="nk-breadcrumbs">
      <ul>
        {% for item in breadcrumb %}
          {% if item.url %}
            <li><a href="{{ item.url }}">{{ item.text }}</a></li>
          {% else %}
            {{ item.text }}
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}

