{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}



<header class="nk-header nk-header-opaque">
    <!--START: Navbar-->
    <nav class="nk-navbar nk-navbar-top nk-navbar-sticky nk-navbar-transparent nk-navbar-autohide">
        <div class="container">
            <div class="nk-nav-table">
                <a href="/accueil" class="nk-nav-logo">
                    <img src="/themes/godlike/images/logo-transparent.png" alt="" width="70">
                </a>
                <ul class="nk-nav nk-nav-right d-none d-lg-block">
                    {{ menus.menu_links(items, attributes, 0) }}

                    {% macro menu_links(items, attributes, menu_level) %}
                        {% import _self as menus %}
                        {% if items %}
                            {% for item in items %}
                                {%
                                    set classes = [
                                    'nk-drop-item',
                                    item.in_active_trail ? 'active',
                                ]
                                %}


                                <li{{ item.attributes.addClass(classes) }}>
                                    <a>{{ item.title }}</a>


                                    {% if item.below %}
                                    <div class="dropdown p-30">
                                        <div class="bg-image">
                                            {% if item.title == 'Background' %}
                                                {% set image = "/themes/godlike/images/wizard.jpg" %}
                                            {% elseif item.title == 'Univers' %}
                                                {% set image = "/themes/godlike/images/bestiaire.jpg" %}
                                            {% elseif item.title == 'Joueurs' %}
                                                {% set image = "/themes/godlike/images/hero2.jpg" %}
                                            {% elseif item.title == 'Sessions' %}
                                                {% set image = "/themes/godlike/images/books.jpg" %}
                                            {% else %}
                                                {% set image = "/themes/godlike/images/contact.jpg" %}
                                            {% endif %}
                                            <img src="{{ image }}" alt="" class="jarallax-img">
                                        </div>
                                        <ul>
                                            {% for childitem in item.below %}
                                                <li class="m-10 t-shadow text-align-center">
                                                    <a href="{{ childitem.url }}">{{ childitem.title }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        {% endif %}
                    {% endmacro %}
                </ul>
                <ul class="nk-nav nk-nav-right nk-nav-icons">
                    <li class="single-icon d-lg-none">
                        <a href="#" class="no-link-effect" data-nav-toggle="#nk-nav-mobile">
                                <span class="nk-icon-burger">
                                    <span class="nk-t-1"></span>
                                    <span class="nk-t-2"></span>
                                    <span class="nk-t-3"></span>
                                </span>
                        </a>
                    </li>

                    <li class="single-icon">
                        <a href="#" class="nk-search-toggle no-link-effect">
                            <span class="nk-icon-search"></span>
                        </a>
                    </li>

                    {#<li class="single-icon">#}
                    {#<a href="#" class="nk-cart-toggle no-link-effect">#}
                    {#<span class="nk-icon-toggle">#}
                    {#<span class="nk-icon-toggle-front">#}
                    {#<span class="ion-android-cart"></span>#}
                    {#<span class="nk-badge">8</span>#}
                    {#</span>#}
                    {#<span class="nk-icon-toggle-back">#}
                    {#<span class="nk-icon-close"></span>#}
                    {#</span>#}
                    {#</span>#}
                    {#</a>#}
                    {#</li>#}

                    <li class="single-icon">
                        <a href="#" class="nk-sign-toggle no-link-effect">
                            <span class="nk-icon-toggle">
                                <span class="nk-icon-toggle-front">
                                    <span class="fa fa-sign-in"></span>
                                </span>
                                <span class="nk-icon-toggle-back">
                                    <span class="nk-icon-close"></span>
                                </span>
                            </span>
                        </a>
                    </li>

                    {#<li class="single-icon">#}
                    {#<a href="#" class="no-link-effect" data-nav-toggle="#nk-side">#}
                    {#<span class="nk-icon-burger">#}
                    {#<span class="nk-t-1"></span>#}
                    {#<span class="nk-t-2"></span>#}
                    {#<span class="nk-t-3"></span>#}
                    {#</span>#}
                    {#</a>#}
                    {#</li>#}
                </ul>
            </div>
        </div>
    </nav>
    <!-- END: Navbar -->
</header>

<!-- MENU MOBILE -->
<div id="nk-nav-mobile" class="nk-navbar nk-navbar-side nk-navbar-left-side nk-navbar-overlay-content d-lg-none">
    <div class="nano">
        <div class="nano-content">
            <a href="/accueil" class="nk-nav-logo">
                <img src="/themes/godlike/images/logo-transparent.png" alt="" width="70">
            </a>
            <div class="nk-navbar-mobile-content">
                {% if items %}
                    <ul class="nk-nav">
                        {% for item in items %}
                            {%
                                set classes = [
                                'nk-drop-item',
                                item.in_active_trail ? 'active',
                            ]
                            %}
                            <li{{ item.attributes.addClass(classes) }}>
                                <a class="link-effect-4 ready">
                                    <span class="link-effect-inner">
                                        <span class="link-effect-l">
                                            <span>{{ item.title }}</span>
                                        </span>
                                        <span class="link-effect-r">
                                            <span>{{ item.title }}</span>
                                        </span>
                                        <span class="link-effect-shade">
                                            <span>{{ item.title }}</span>
                                        </span>
                                    </span>
                                </a>
                                <ul class="dropdown">
                                    {% if item.below %}
                                        {% for childitem in item.below %}
                                            <li class="t-shadow">
                                                <a href="{{ childitem.url }}" class="link-effect-4 ready">
                                                <span class="link-effect-inner">
                                                    <span class="link-effect-l">
                                                        <span>{{ childitem.title }}</span>
                                                    </span>
                                                    <span class="link-effect-r">
                                                        <span>{{ childitem.title }}</span>
                                                    </span>
                                                    <span class="link-effect-shade">
                                                        <span>{{ childitem.title }}</span>
                                                    </span>
                                                </span>
                                                </a>
                                            </li>
                                        {% endfor %}
                                    {% endif %}
                                </ul>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<!-- FIN MENU MOBILE -->