{#
/**
 * @file
 * The views infinite scroll pager template.
 */
#}

<div class="col-md-12 text-align-center">
  {% if items.next %}
  <ul{{ attributes }}>
    <li class="pager__item">
      <a href="{{ items.next.href }}" title="{{ 'Go to next page'|t }}" class="nk-btn nk-btn-x2 nk-btn-circle nk-btn-3d nk-btn-color-dark-1 nk-btn-bg-white" rel="next">{{ options.button_text }}</a>
    </li>
  </ul>
  {% endif %}
</div>
<div class="nk-gap-6"></div>